@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #525050;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}


/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 100;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: #000000;
    text-decoration: none;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

/* forms */

input,
textarea,
select,
.uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;

    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .is-invalid;

    .form-control {
        color: rgb(214, 122, 127);
    }
}

/* トップデザイン　*/
.top-wrapper {
    padding: 230px 0 300px 0;
    background-image: url("/assets/top-wrapper.jpeg");
    background-size: cover;
    text-align: center;
}

.top-wrapper h1 {
    position: absolute;
    top: 125px;
    left: 150px;
    font-size: 50px;
    letter-spacing: 3px;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.9;
}

.top-wrapper p {
    position: absolute;
    top: 300px;
    left: 60px;
    font-family: cursive;
    opacity: 0.7;
}

/*コンテンツ作成*/
.product-wrapper {
    height: 600px;
    background-color: white;
    text-align: center;
}

.heading {
    padding-top: 80px;
    padding-bottom: 50px;
    color: #5f5d60;
}

.heading h2 {
    font-weight: normal;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.products {
    float: left;
}

.product {
    float: left;
    width: 25%;
    margin-bottom: 50px;
}


.product-icon {
    position: relative;
}

.product-icon img {
    height: 150px;
    weight: 150px;
}

.product-icon img:hover {
    opacity: 1;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #b3aeb5;
}

/*店舗情報*/
.store-inform {
    height: 450px;
}

.store-inform p {
    margin-bottom: 10px;
}