<footer class="footer">
    <small>
        <a href="http://www.railstutorial.org/">仮</a>
        <a href="http://www.michaelhartl.com/">仮</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "古物営業法",root_path %></li>
            <li><%= link_to "特定商取引法",root_path %></li>
            <li><%= link_to "プライバシーポリシー",root_path %></li>
        </ul>
    </nav>
</footer>